html body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
	background-color:  #004466;
}

.hide{
    display: none;
}

.form-signin {
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 25%;
  	width: 100%;
    max-width: 330px;
    padding: 15px;
    background-color: rgba(255, 150, 150, 0.5);
    border: solid;
    border-color: red;
    border-radius: 1em;
    color:white;
}

.error {
    opacity:0; 
    background-color: rgba(255, 150, 150, 0.5);
    border: solid;
    border-color: red;
    border-radius: 1em;
    color:white;
    padding: 5px;
    width: auto;
    animation-name: erreur;
    animation-duration: 6s;    
    animation-iteration-count: 1;
    animation-direction: alternate;  
}

@keyframes erreur {
    0% {left: 100%; opacity : 0;}
    25% {left: 0%;  opacity : 1;}
    50% {left: 0%;  opacity : 1;}
    75% {left: 0%;  opacity : 1;}
    100% {display: none; left: 100%;  opacity : 0; visibility : hidden;}
}

.form-control:focus {
    outline:none !important;
    box-shadow:0 0 0 .2rem rgba(255, 0, 0, 1);
}

.btn-primary{
	background-color: #004466;
	border-color: #004466;
}

.btn-primary:hover {
    background-color: #004466;
    border-color: #004466;
}

.btn-primary:focus {
	box-shadow:0 0 0 .2rem rgba(255, 0, 0, 1);
}

.bandeau{
    opacity:0; 
	border: solid;
	border-radius: 1em;
	border-color: #4da6ff;
	background-color: rgba(128, 191, 255, 0.5);
	padding: 5px;
	width: auto;
    animation-name: erreur;
    animation-duration: 6s;    
    animation-iteration-count: 1;
    animation-direction: alternate;  
}

@keyframes erreur {
    0% {left: 100%; opacity : 0;}
    25% {left: 0%;  opacity : 1;}
    50% {left: 0%;  opacity : 1;}
    75% {left: 0%;  opacity : 1;}
    100% {display: none; left: 100%;  opacity : 0; visibility : hidden;}
}

.colonne{
	text-align: center
}

.colonne_logo{
	text-align: left
}

.contener{
	width: 97%;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 5px;
	color:white;
}

.deconnect{
	background-color: #004466;
	border-color: #004466;
}

.deconnect:hover {
    background-color: #004466;
    border-color: #004466;
}

.deconnect:focus {
	box-shadow:0 0 0 .2rem rgba(77, 166, 255, 1);
}