<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
	<form name="login-form" ng-submit="login()">
		<input class="login" type="texte" placeholder="Login" name="login" ng-model="login">
		<input class="password" type="password" placeholder="mdp" name="mdp" ng-model="password">
		<input class="connect" type="submit" value="transmettre">
	</form>
</body>
<script type="text/javascript">
	$('.connect').on('click', function(){
		var login = $('.login').val();
		var mdp = $('.password').val();
		console.log("Event click connect:login:", login, " mdp:", mdp);
		$.ajax({
			type: 'GET',
			url: '/login?login=' + login + '&mdp=' + mdp,
		}).done(function(data) {
			console.log("result:", data);
		});
	});
</script>