<!doctype html>
<html lang="fr" ng-app="main">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/main.css">

		<script type="text/javascript">
			var path='/home/nas02a/etudiants/inf/uapv1602054/CERIGAme/CERIGame/'
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
		
		<script src="app/controllers/controller.js"></script>
		<script src="app/services/services.js"></script>
		<script src="app/app.js"></script>

		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	</head>
	<body ng-controller="main_controller">
		<!--<div class="contener" ng-controller="bandeau_controller">-->
		<div class="contener" ng-hide="no_logged_in" ng-show="isLoggedIn()">
			<div class="bandeau row">
				<span class="colonne_Logo col-4">
    				<p> Logo </p>
    			</span>
    			<span class="colonne col-2">
    				<input type="button" ng-click="loadQuizz()">
    			</span>
    			<span class="colonne col-2" id="bandeau-message">
    				<p> message </p>
    			</span>
    			<span class="colonne col-2" id="bandeau-nom">
    				<a ng-click="loadUser()" id="user-show"> {{ user.username }} </a>
    			</span>
    			<span class="colonne col-2">
    				<form ng-submit="logOut()">
    					<input class="deconnect btn btn-primary" id="deconnect" type="submit" value="deconnexion">
	    			</form>
    			</span>
  			</div>
  		</div>
  		<div ng-show="showUser">
	  		<div class="bandeau user" ng-controller="user_controller">
	  			<div> 
	  				Pseudo : {{user.username}}
	  			</div>
	  			<div>
	  				Nom : {{user.name}}
	  			</div>
	  			<div>
	  				Prenom : {{user.firstName}}
	  			</div>
	  			<!-- Test controleur requetes -->
	  			<!-- <div ng-click="getBest()">Les meilleurs scores</div> -->
	  			<!-- <div ng-click="sumScore()">Le score total</div> -->
	  			<div class="form-modif">
		  			<form class= "form-modif-user" name="modif-user-form" ng-submit="modifUser()">
				  		<div class="form-row">
				    		<div class="col">	
								<input class="form-control" id='identifiant' type="texte" placeholder="identifiant" name="identifiant" ng-model="identifiant" value="{{user.username}}">
							</div>
							<div class="col">	
								<input class="form-control" id='nom' type="texte" placeholder="nom" name="nom" ng-model="nom" value="{{user.name}}">
							</div>
							<div class="col">	
								<input class="form-control" id='prenom' type="texte" placeholder="prenom" name="prenom" ng-model="prenom" value="{{user.firstName}}">
							</div>
							<div class="col">	
								<input class="form-control" id='avatar' type="texte" placeholder="avatar" name="avatar" ng-model="avatar" value="{{user.avatar}}">
							</div>
							<div class="col">
								<input class="modif-user btn btn-primary" id="modif-user" type="submit" value="Modifier">
							</div>
						</div>
					</form>
				</div>
	  		</div>
	  	</div>
	  	
	  	<!--
	  		-------------------------------
	  		Partie quizzs 
	  		-------------------------------
	  	 -->
  		<div ng-show="showQuizz">
	  		<div class="bandeau quizz" ng-controller="quizz_controller">
	  			<div ng-show="searchQuizz">
	  				<div class="select-difficilte selection">
	  					<span class="difficulte ">
	  						<input class="btn btn-primary" type="button" ng-click="setDifficulte('facile')" value="Facile">
							<!--Facile-->
	  					</span>
	  					<span class="difficulte ">
							<input class="btn btn-primary" type="button" ng-click="setDifficulte('normal')" value="Normale">
	  						<!--Normal-->
	  					</span>
	  					<span class="difficulte ">
							<input class="btn btn-primary" type="button" ng-click="setDifficulte('difficile')" value="Difficile">
	  						<!--Difficile-->
	  					</span>
	  				</div>
					<div class="quizz-search">
			  			<input type="button" ng-click="getQuizzes()" value="Afficher tous les quizzs">
						<!--{{ quizzs }}-->
					</div>
					<div class="texte-quizz row list head">
						<span class="colonne col-6 quizz-name">
							Thème
						</span>
						<span class="colonne col-6 quizz-redacteur">
							Rédacteur
						</span>
					</div>
					<div class="quizz-list" ng-repeat="quizz in quizzs">
						<!--C'est le quizz: {{ quizz }}-->

						<div class="quizz-infos" ng-click="playQuizz(quizz, 'facile')">
							<span class="texte-quizz colonne col-6 quizz-name">

								{{ quizz['thème'] }}
							</span>
							<span class="texte-quizz colonne col-6 quizz-redacteur">
								{{ quizz['rédacteur'] }}
							</span>
						</div>
					</div>
				</div>

				<div ng-show="questionQuizz">
					<div class="timer">
						{{ nbH }} : {{ nbM }} : {{ nbS }}
					</div>
					<div class="row texte-quizz colonne col-12 quizz-name">
						{{ quizz['thème'] }}
					</div>
					<div class="quizz-question">
						<div class="texte-question colonne col-12 row question">
							{{ question['question'] }}
						</div>
						<div class="propositions"  ng-repeat="proposition in questionAffiche">
							<span class="texte-question colonne col-12 row proposition-elem" ng-click="reponse(proposition)">
								{{ proposition }}
							</span>
						</div>
					</div>
				</div>

				<div ng-show="showEnd">
					<div class="resultat">
						<span>
							score : 
						</span>
						<span>
							{{ score }}
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- 
			-------------------------------
			Fin partie quizzs
			-------------------------------
		 -->


  		<div class="contener">
  			<div class="row {{ classBandeau }}" id="bandeau-message">{{ textBandeau }}</div>
  		</div>
		<form class= "form-signin" name="login-form" ng-submit="login()" ng-show="no_logged_in" ng-show="notLoggedIn()">
			<h1 class="text-center">WARNING!</h1>
			<p class="text-center" id="message-connect">Veuillez-vous identifier</p>

			<div class="form-row">
	    		<div class="col">	
					<input class="form-control" id='login' type="texte" placeholder="Login" name="login" ng-model="username">
				</div>
				<div class="col">	
					<input class="form-control" id='password' type="password" placeholder="mdp" name="mdp" ng-model="password">
				</div>
				<div class="col">
					<input class="bouton_connect btn btn-primary" id="connect" type="submit" value="connexion">
				</div>
			</div>
		</form>
	</body>
	<script type="text/javascript">
		// $('#connect').on('click', function(){
		// 	var username = $('#login').val();
		// 	var mdp = $('#password').val();
		// 	console.log("Event click connect:login:", username, " mdp:", mdp);
		// 	angular.element($("body")).scope().username = username;
		// 	angular.element($("body")).scope().password = mdp;
		// 	// $.ajax({
		// 	// 	type: 'GET',
		// 	// 	url: '/login?login=' + login + '&mdp=' + mdp,
		// 	// }).done(function(data) {
		// 	// 	console.log("result:", data);
		// 	// });
		// });
	</script>
</html>